# Admin login PIN (default: 1234)
ADMIN_PIN=1234

# Session signing secret (change in production!)
SESSION_SECRET=your-random-secret-key-here
LIVE_PRISMA_DATABASE_URL="postgres://e9c2a72ae7a85175a1061ecea3fbad0bf595fd3388eedbffcefa25daba4c9c29:sk_0k5USzp0atOxtQzioX0wS@db.prisma.io:5432/postgres?sslmode=require"
LIVE_POSTGRES_URL="postgres://e9c2a72ae7a85175a1061ecea3fbad0bf595fd3388eedbffcefa25daba4c9c29:sk_0k5USzp0atOxtQzioX0wS@db.prisma.io:5432/postgres?sslmode=require"
LIVE_PRISMA_DATABASE_URL="postgres://e9c2a72ae7a85175a1061ecea3fbad0bf595fd3388eedbffcefa25daba4c9c29:sk_0k5USzp0atOxtQzioX0wS@db.prisma.io:5432/postgres?sslmode=require"